
body{
  font-family: arial;
}

.top{
  background-color: #FFFBE2;
  padding: 5px 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  color: #084aa0;

  
}
.phone{
  font-size: 25px;
}

.login-form {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

.login-form h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #299dfc;
}

.login-form input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #F5F6F7;
}

.login-form .button {
  width: 100%;
  margin: auto;
  padding: 10px;
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
}

.passDiv{
  position: relative;
}
.eye{
  position: absolute;
  right: 10px;
  bottom: 0px;
}

.login-form .button:hover {
  background-color: #4DAFFF;
}

.createBtn{
  padding: 10px;  
  border: none;
  border-radius: 5px;
  color: black;
  width: 80%;
  background-color: white;
  border: 1.5px solid #8A8C8E;
}

.createBtn:hover{
  background-color: #36d272;

}

.forget{
  color:#4395dc ;
}
.forget:hover{
  cursor: pointer;
  text-decoration: underline;

}

.createPage{
  text-align: center;
}
.footer{
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  font-weight: bold;
  color: #8A8C8E;
  font-size: 12px;
}

.copyright{
  text-align: center;
  font-weight: 800;
  font-family: arial;
  color: #747474;
}
.copyright>span{
  color: #747474;
  margin-right: 10px;
  font-weight: 500;
}


@media only screen and (min-width: 768px){
  .mainBody{
    width: 600px;
    margin: 0 auto;
  }
} 